[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
mpmath = "*"

[packages]
"discord.py" = "*"
praw = "*"
"nekos.py" = "*"
basc-py4chan = "*"
switch = "*"
cheemsbot = {editable = true, path = "."}
lmgtfyreborn = "*"
duckduckpy = "*"
beautifulsoup4 = "*"
google-images-search = "*"
loguru = "*"
markovify = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
